{{#if error}}
{{error}}
{{else}}

<img src={{show.image.medium}} />
<h1>{{show.name}}</h1>
<p><b>Langauge: </b>{{show.language}}</p>
<p><b>Status: </b>{{show.status}}</p>
<p><b>Runtime: </b>{{show.runtime}}</p>
<p><b>Type: </b>{{show.Type}}</p>
<p><b>Premiered: </b>{{show.premiered}}</p>
<p><b>Network: </b>{{show.network.name}}</p>
<p><b>Sumary: </b>{{show.summary}}</p>
{{/if}}